/*  Jan 2017 by Jikuseghan BingeWorthyCSS */
#wrapper {
  width: 600px;
  margin: 0 auto;
  font-family: "Oswald", Verdana, Serif;
}
#innerWrapper {
  width: 600px;
  font-family: "Cabin", Verdana, Serif;
}
p {
  padding-right: 10px;
}
nav {
  width: 600px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}
nav a:hover {
  background-color: #66ff99;
  color: #333;
}
li a.active {
    background-color: #66ff99;
    color: #333;
}
.col-25 {
  width: 25%;
  background-color: white;
  float:left;
  padding-bottom: 20px;
}

.col-50 {
  width: 50%;
  background-color: white;
  float:left;
  padding-bottom: 20px;

}
footer{
  clear: both;
  font-family: "Montserrat", Verdana, Serif;
  background-color: #333;
  color: white;
  font-size: 10px;
  padding: 14px 25px;
}
